.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top:0;
  height: 10vh;
  opacity: 80%;
  background-color: #000;
}
.nav__a{
  height: 100%;
}
.nav__logo{
  height: 80%;
  margin-left: 2%;
  cursor:pointer;
}
.nav__avatar{
  position: relative;
  top:25%;
  right:25%;
  height: 50%;
  cursor: pointer;
}
.nav__avatar:hover{
  opacity: 50%;
}